{{> navigation}}
<h1>This is home page</h1>
<a href="/products/details/65577f224e9ae2badd7b949f">Show product detail 1</a>
<a href="/products/details/655b68bdde6c0400fa925dda">Show product detail 2</a>

<script src="/javascripts/home.js"></script>