{{!-- Trang khuyến mãi --}}
<!-- banner -->
<section class="banner-section">
    <div class="inner banner__wrapper">
        <div class="banner__image"></div>
    </div>
</section>  

    <!-- Service  -->
<section class="service-section">
    <div class="inner service-section__wrapper">
        <div class="service-section__image"></div>
        <div class="service-section__image"></div>
    </div>
</section>  

<!-- Sales -->
<section class="sale-section">
    <div class="inner sale__wrapper">
        <div class="sale-section__title"></div>
        <div class="sale-section__list"></div>
    </div>
</section>