{{! Trang khuyến mãi }}
<div id="sales">
  <div class="header-sales">
    <a class="header-element hot-sale-header" href="#title__hot-sales">Sale sốc</a>
    <a class="header-element" href="#title__laptop-sales">Laptop</a>
    <a class="header-element" href="#title__keyboard-sales">Bàn phím</a>
    <a class="header-element" href="#title__mouse-sales">Chuột</a>
  </div>
  <div id="title__hot-sales" class="title-hot-sales">
    <img src="/assets/images/sale25_11.png" alt="Sale Product" >
  </div>
  <section id="hot-sales">
    <img src="/assets/images/sale_product1.png" alt="product-img" >
    <img src="/assets/images/sale_product2.png" alt="Sale Product" >
    <img src="/assets/images/sale_product3.png" alt="Sale Product" >
    <img src="/assets/images/sale_product4.png" alt="Sale Product" >
    <img src="/assets/images/sale_product5.png" alt="Sale Product" >
    <img src="/assets/images/sale_product6.png" alt="Sale Product" >
    <img src="/assets/images/sale_product7.png" alt="Sale Product" >
    <img src="/assets/images/sale_product8.png" alt="Sale Product" >
  </section>

  <div id="title__laptop-sales" class="title-product-sales">
    <img src="/assets/images/sale_laptop.png" alt="Sale Laptop" >
  </div>

  <section id="laptop-sales">
    <img src="/assets/images/sale_laptop1.png" alt="Sale Laptop" >
    <img src="/assets/images/sale_laptop2.png" alt="Sale Laptop" >
    <img src="/assets/images/sale_laptop3.png" alt="Sale Laptop" >
    <img src="/assets/images/sale_laptop4.png" alt="Sale Laptop" >
    <img src="/assets/images/sale_laptop5.png" alt="Sale Laptop" >
    <img src="/assets/images/sale_laptop6.png" alt="Sale Laptop" >
    <img src="/assets/images/sale_laptop8.png" alt="Sale Laptop" >
  </section>

  <div id="title__keyboard-sales" class="title-product-sales">
    <img src="/assets/images/sale_keyboard.png" alt="Sale Keyboard" >
  </div>

  <section id="keyboard-sales">
    <img src="/assets/images/sale_keyboard1.png" alt="Sale Keyboard" >
    <img src="/assets/images/sale_keyboard2.png" alt="Sale Keyboard" >
    <img src="/assets/images/sale_keyboard3.png" alt="Sale Keyboard" >
    <img src="/assets/images/sale_keyboard4.png" alt="Sale Keyboard" >
    <img src="/assets/images/sale_keyboard5.png" alt="Sale Keyboard" >
    <img src="/assets/images/sale_keyboard6.png" alt="Sale Keyboard" >
    <img src="/assets/images/sale_keyboard7.png" alt="Sale Keyboard" >
  </section>

  <div id="title__mouse-sales" class="title-product-sales">
    <img src="/assets/images/sale_mouse.png" alt="Sale Mouse" >
  </div>

  <section id="mouse-sale">
    <img src="/assets/images/sale_mouse1.png" alt="Sale Mouse" >
    <img src="/assets/images/sale_mouse2.png" alt="Sale Mouse" >
    <img src="/assets/images/sale_mouse3.png" alt="Sale Mouse" >
    <img src="/assets/images/sale_mouse4.png" alt="Sale Mouse" >
    <img src="/assets/images/sale_mouse5.png" alt="Sale Mouse" >
    <img src="/assets/images/sale_mouse6.png" alt="Sale Mouse" >
    <img src="/assets/images/sale_mouse7.png" alt="Sale Mouse" >
  </section>
</div>