/* Phần container của cart */
.shopping-cart {
  width: 100%;
  height: auto;
  padding-bottom: 24px;
  background-color: #edf8ff;
}

.breadcrumb-wrap {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
}

/* Mua thêm sản phẩm */
.breadcrumb-cart .breadcrumb-cart--link-product.active,
.breadcrumb-cart .back.active {
  display: block;
}

.breadcrumb-cart .breadcrumb-cart--link-product,
.breadcrumb-cart .back {
  color: #1982f9;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 16px;
  display: none;
}

.breadcrumb-cart .breadcrumb-cart--link-product .breadcrumb-cart--icon {
  font-weight: 600;
  margin-right: 6px;
  font-size: 14px;
}

/* Phần nội dung chính của cart */
.cart-main {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
/* Header cart */
.header-cart {
  display: flex;
  padding: 8px;
}

.header-cart .header-cart__step {
  text-align: center;
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 4px;
  position: relative;

  background: #ffe7e7;
  justify-content: center;
  padding: 20px 0 16px;
}

.header-cart .header-cart__step .header-cart__step--icon {
  width: 28px;
  height: 28px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0 auto 4px;
  position: relative;
  z-index: 1;
  border-radius: 100%;
  border: 1px solid black;
}

.header-cart .step2::before,
.header-cart .step3::before,
.header-cart .step4::before {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  right: 59%;
  z-index: 0;
  width: 81%;
  border-top: 1px dashed #000;
}

.header-cart__step.active::before {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  z-index: 0;
  right: 59%;
  width: 81%;
  border-top: 1px solid var(--primary-color);
}

.header-cart__step.active i {
  color: #fff;
}

.header-cart__step.active span {
  color: var(--primary-color);
}

.header-cart__step.active .header-cart__step--icon {
  background-color: var(--primary-color);
  border: none;
}

.header-cart__step .header-cart__step--icon .fa-cart-shopping {
  padding: 4px 0 0 0;
}

.header-cart .header-cart__step i {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 0 0 0;
}

.header-cart .step1 {
  border-radius: 4px 0 0 4px;
  color: var(--primary-color);
}

.header-cart .step1 .header-cart__step--icon {
  background-color: var(--primary-color);
  color: white;
  border: none;
}

.header-cart .step1 .header-cart__step--icon span {
  font-weight: 400;
}

.header-cart .step4 {
  border-radius: 0 4px 4px 0;
}

/* No product section CSS */
.no-product {
  text-align: center;
  padding: 24px;
}

.no-product .no-product__img {
  width: 20%;
}

.no-product .no-product--text {
  font-size: 16px;
  font-weight: 400;
  display: block;
}

.no-product .buy-continue,
.complete-order .buy-continue {
  margin-top: 16px;
  cursor: pointer;
  padding: 16px 24px;
  font-weight: 700;
  border: 1px solid #1982f9;
  text-transform: uppercase;
  background: #fff;
  border-radius: 4px;
  width: 300px;
}

.no-product .buy-continue:hover,
.complete-order .buy-continue:hover {
  background: var(--primary-color);
}

.no-product .buy-continue:hover a,
.complete-order .buy-continue:hover a {
  color: #fff;
}

.no-product .buy-continue a,
.complete-order .buy-continue a {
  text-decoration: none;
  color: #1982f9;
  font-size: 18px;
}

/* Lúc có sản phẩm */
.product-cart {
  padding: 24px;
  display: none;
}

.product-cart.active {
  display: block;
}

.product-cart-item {
  display: flex;
  padding: 8px;
  gap: 20px;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  justify-content: space-between;
}

.product-cart-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: all ease-in 0.2s;
}

.product-cart-item + .product-cart-item {
  margin-top: 20px;
}

.product-cart__left--img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border: 1px solid #ececec;
}

.product-cart .img-product-one {
  width: 100%;
}

.product-cart .delete-product {
  margin-top: 8px;
  color: #6d6e72;
}

.delete-product {
  font-size: 1.4rem;
  width: 100%;
  justify-content: center;
  color: #c3c3c3;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 400;
  cursor: pointer;
  margin-right: 8px;
}

.delete-product:hover {
  opacity: 0.8;
  transition: all ease 0.2s;
  color: red;
}

.product-cart .product-cart__center {
  margin-left: 4px;
  margin-left: 8px;
  margin-bottom: 8px;
  padding-right: 20px;
}

.product-cart__center--desc {
  color: #333333;
  max-width: 300px;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
}

.product-cart__right {
  text-align: center;
  flex: 1;
}

.product-cart .product-cart__right .product-price {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #e30019;
  margin-bottom: 16px;
}

.product-cart .product-cart__right .amount-product {
  display: flex;
  align-items: center;
  margin-top: 16px;
  justify-content: flex-end;
}

.product-cart .product-cart__right .amount-product button {
  cursor: pointer;
}

.product-cart .product-cart__right .minus-plus {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  height: 32px;
  width: 32px;
  padding: 0;
  text-align: center;
  border: 1px solid #cfcfcf;
}

.minus.disabled {
  pointer-events: none;
  opacity: 0.5;
  filter: brightness(0.9);
}

.minus.btn.disabled:active {
  transform: scale(1);
}

.product-cart .product-cart__right .product-quantity {
  font-weight: 400;
  font-size: 1.6rem;
  height: 32px;
  width: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cfcfcf;
  border-left: none;
  border-right: none;
}

.product-cart .product-cart__right .mid-minus-plus:focus {
  outline: none;
}

.product-cart .product-cart__right .plus {
  border-radius: 0 4px 4px 0;
}
.product-cart .product-cart__right .minus {
  border-radius: 4px 0 0 4px;
}

.product-cart-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-info-product .section-info-total {
  padding: 24px;
}

.section-info-product .section-info-total .info-shipping {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 30px;
}

.section-info-product .section-info-total .shipping-fee,
.section-info-product .section-info-total .total-price {
  display: flex;
  justify-content: space-between;
}
.section-info-product .section-info-total .shipping-fee {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 8px;
  order: 1;
  padding-bottom: 8px;
}

.section-info-product .section-info-total .total-price {
  font-size: 18px;
  font-weight: 600;
  order: 2;
  margin-bottom: 24px;
}

.section-info-product .section-info-total .total-price .total-price-value {
  color: #e30019;
  font-size: 2.4rem;
}

.section-info-product .section-info-total .order-now,
.section-info-product .section-info-total .order-now-final {
  padding: 20px;
  order: 3;
  background-color: var(--primary-color);
  border-radius: 4px;
  height: 62px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.section-info-product .section-info-total .order-now.active,
.section-info-product .section-info-total .order-now-final.active {
  display: flex;
}

.section-info-product
  .section-info-total
  .order-now:hover
  .section-info-product
  .section-info-total
  .order-now-final:hover {
  cursor: pointer;
}

.section-info-product .section-info-total .order-now button,
.section-info-product .section-info-total .order-now-final button {
  text-decoration: none;
  color: white;
  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  text-align: center;
  cursor: pointer;
}

.section-info-product .section-info-total .form-payment {
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
  color: #666666;
}

section {
  display: none;
}

section.active {
  display: flex;
}

/* Thông tin khách hàng đặt hàng */
.info-customer {
  padding: 24px 24px 30px 24px;
  display: none;
}

.info-customer.active {
  display: block;
}

.info-customer .title-text {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.info-customer .input-customer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding-top: 14px;
}

.info-customer .input-customer input {
  width: 100%;
  height: 40px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  padding: 12px;
  outline: none;
  z-index: 0;
}

.info-customer .input-customer .text-box {
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  z-index: 1;
}

.info-customer .label-text {
  padding: 0 4px;
  position: absolute;
  top: 0px;
  left: 12px;
  color: #535353;
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s;
  margin-left: 10px;
}

.info-customer .input-name {
  padding-right: 6px;
  z-index: 2;
}

.info-customer .input-name:focus input {
  border: 1px solid #cfcfcf;
}

.info-customer .input-name.error input,
.info-customer .input-phone.error input {
  width: 98%;
  height: 40px;
  border: 2px solid #ed7a7a;
  border-radius: 4px;
  z-index: 1;
  display: block;
  position: absolute;
  top: 0;
  z-index: 0;
}

.info-customer .input-phone {
  padding-left: 6px;
}

.info-customer .text-box input:focus + .label-text,
.info-customer .text-box input:not(:placeholder-shown) + .label-text {
  transform: translate(6px, -18px);
  font-size: 12px;
  color: #535353;
  background: #fff;
}

.info-customer
  .text-box
  input:not(:focus):not(:placeholder-shown)
  + .label-text {
  transform: translate(6px, -18px);
  font-size: 12px;
  color: #535353;
}

.address .checkbox-item {
  margin-top: 8px;
  margin-bottom: 16px;
}

/* Phần địa chỉ nhận hàng */
.address .address-shipping {
  background: #ececec;
  padding: 16px;
  margin-bottom: 24px;
  border-radius: 4px;
}

.address .address-shipping .select-box {
  display: flex;
  margin-bottom: 16px;
}

.address .address-shipping .select-option {
  padding: 0 8px;
  display: block;
  width: 100%;
  height: 40px;
  position: relative;
}

.address .address-shipping .select-option.error select,
.address .address-shipping .select-option.error input {
  width: 94%;
  height: 40px;
  border: 2px solid #ed7a7a;
  border-radius: 4px;
  z-index: 1;
  display: block;
  position: absolute;
  top: 0;
  z-index: 0;
}

.address
  .address-shipping
  .select-option
  .address
  .address-shipping
  .select-option
  select,
.address .address-shipping .select-option input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
}

.address .address-shipping .select-option .form-data {
  width: 100%;
  height: 44px;
  border: 1px solid #cfcfcf;
  color: #111111;
  padding: 0 20px 0 16px;
  user-select: none;
  appearance: none;
  transition: 0.2s ease-in-out;
}

.address .address-shipping .select-option123::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 18px;
  margin: auto;
  width: 10px;
  height: 10px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.address .address-shipping .select-option4 {
  position: relative;
}

.address .address-shipping .select-option4 .label-text-address {
  padding: 0 4px;
  position: absolute;
  top: 0px;
  left: 12px;
  color: #535353;
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s;
  margin-left: 10px;
}

.address .address-shipping .select-option4 input:focus + .label-text-address,
.address
  .address-shipping
  .select-option4
  input:not(:placeholder-shown)
  + .label-text-address {
  transform: translate(6px, -18px);
  font-size: 12px;
  color: #535353;
  background: linear-gradient(-180deg, #ececec 55%, #fff 0) !important;
}

.address
  .address-shipping
  .select-option4
  input:not(:focus):not(:placeholder-shown)
  + .label-text-address {
  transform: translate(6px, -18px);
  font-size: 12px;
  color: #535353;
}

.address .address-shipping .select-option .form-data:focus {
  background: #fff;
  border-color: #cfcfcf;
  box-shadow: none;
  outline: none;
}

/* Xuất hóa đơn */
.address .note-box .text-note {
  position: relative;
  margin-bottom: 24px;
}

.address .note-box .text-note .input-text-note {
  width: 100%;
  height: 40px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #cfcfcf;
}

.address .note-box .text-note .label-text-note {
  padding: 0 4px;
  position: absolute;
  top: 0px;
  left: 12px;
  color: #535353;
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s;
  margin-left: 10px;
}

.address .note-box .text-note input:focus + .label-text-note,
.address .note-box .text-note input:not(:placeholder-shown) + .label-text-note {
  transform: translate(6px, -19px);
  font-size: 12px;
  color: #535353;
  background: #fff;
}

.address
  .note-box
  .text-note
  input:not(:focus):not(:placeholder-shown)
  + .label-text-note {
  transform: translate(-4px, -18px);
  font-size: 12px;
  color: #535353;
}

.address .note-box .text-note .input-text-note:focus {
  box-shadow: none;
  outline: none;
}

.section-info-order {
  padding: 24px;
  display: none;
}
.section-info-order .info-order {
  width: 100%;
}

.section-info-order h2 {
  font-size: 24px;
}
.section-info-order ul {
  padding-left: 18px;
}
.section-info-order .line {
  margin-top: 16px;
  position: relative;
  padding: 2px 0;
}

.section-info-order .line span {
  font-weight: 600;
}

.section-info-order .line span,
.section-info-order .line p {
  font-size: 16px;
  color: #111111;
}

.section-info-order .line p {
  position: absolute;
  top: 3px;
  left: 164px;
  font-weight: 400;
}
.section-info-order .line .line--red {
  color: #e30019;
  font-weight: 600;
}

.complete-order {
  text-align: center;
  padding: 24px 64px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.complete-order .form-customer {
  padding-bottom: 20px;
}

.complete-order .order-mes-complete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: #d5f7e0;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 24px;
}

.complete-order .order-mes-complete .complete-text {
  font-size: 18px;
  padding-top: 4px;
  font-weight: bold;
  color: #1e9800;
  line-height: 22px;
  margin-left: 2px;
}

.complete-order .thank-text {
  width: 100%;
  line-height: 1.5;
  margin-bottom: 24px;
}

.complete-order .thank-text p {
  font-size: 14px;
  font-weight: 500;
}

.complete-order .div-flex {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.complete-order .form-product {
  width: 100%;
  background: #d1e5f2;
  border-radius: 4px;
}

.complete-order .form-product h2 {
  font-size: 22px;
}

.complete-order .form-product .manage {
  color: #1982f9;
  padding-top: 6px;
}

.complete-order .form-product .left {
  font-weight: 600;
  display: block;
}

.complete-order .form-product .right {
  width: 260px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
}
.complete-order .form-product .total-price-step-four {
  color: #e30019;
  font-weight: 600;
}

.complete-order .form-customer .status {
  border: 1px dashed #ff7a00;
  padding: 16px;
  width: 90%;
  margin: auto;
  background: #fff6ed;
  border-radius: 4px;
}

.complete-order .form-customer .status span {
  font-weight: bold;
  font-size: 16px;
  color: #ff7a00;
}

.complete-order .btn {
  width: 100%;
  margin-top: 20px;
}

/* Responsive for cart page */
/* Mobile và Tablet: width < 1024px*/
@media screen and (max-width: 63.9375em) {
  .info-customer .input-customer {
    flex-direction: column;
  }

  .info-customer .input-name {
    padding: 0;
    margin-bottom: 14px;
  }

  .info-customer .input-phone {
    padding: 0;
  }

  .info-customer .text-box input:focus + .label-text,
  .info-customer .text-box input:not(:placeholder-shown) + .label-text {
    transform: translate(6px, -18px);
    font-size: 12px;
    color: #535353;
    background: #fff;
  }

  .info-customer
    .text-box
    input:not(:focus):not(:placeholder-shown)
    + .label-text {
    transform: translate(6px, -18px);
    font-size: 12px;
    color: #535353;
  }

  .address .address-shipping .select-box {
    flex-direction: column;
    justify-content: space-between;
  }

  .address .address-shipping .select-option1,
  .address .address-shipping .select-option3 {
    margin-bottom: 16px;
  }

  .address .note-box .text-note input:focus + .label-text-note,
  .address
    .note-box
    .text-note
    input:not(:placeholder-shown)
    + .label-text-note {
    transform: translate(6px, -18px);
    font-size: 12px;
    color: #535353;
    background: #fff;
  }

  .address
    .note-box
    .text-note
    input:not(:focus):not(:placeholder-shown)
    + .label-text-note {
    transform: translate(-4px, -30px);
    font-size: 12px;
    color: #535353;
  }
  .header-cart__step span {
    font-size: 10px;
  }
  .section-info-order h2 {
    font-size: 18px;
  }
  .section-info-order .line span,
  .section-info-order .line p {
    font-size: 14px;
  }
}

/* Mobile: Width < 740px */
@media screen and (max-width: 46.1875em) {
  .cart-main {
    width: 96%;
    margin: auto;
  }

  .form-payment {
    display: none;
  }

  .product-cart__left--img img {
    height: 68px;
    width: 100%;
  }

  .delete-product {
    font-size: 1.2rem;
  }

  .product-cart-info {
    flex-wrap: wrap;
  }

  .product-cart-info h3 {
    font-size: 14px;
  }

  .product-cart-info .product-price {
    font-size: 14px;
    display: block;
    text-align: right;
    width: 100%;
  }

  .product-cart .product-cart__right .minus-plus,
  .product-cart .product-cart__right .plus {
    height: 26px;
    width: 26px;
  }

  .product-cart .product-cart__right .product-quantity {
    width: 40px;
    height: 26px;
  }

  .product-cart .product-cart__right .product-price {
    font-size: 14px;
  }

  .product-cart .product-cart__right .amount-product {
    margin-top: 6px;
  }
}

/* Tablet: WWidth >= 740 and width < 1024px */
@media screen and (min-width: 45.25em) and (max-width: 63.9375em) {
}
