/* CSS apply for header and footer */
/* Header CSS */
#header {
    height: var(--header-height);
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header__wrapper {
    padding: 16px 0;
    height: 100%;
    font-size: 1.6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.header__logo {
    overflow: hidden;
    height: 100%;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}

.header__logo-image {
    height: 100%;
    width: 100px;
    object-fit: contain;
    object-position: center;
}

.header__categories-btn , .header__account-btn {
    display: flex;
    background-color: #006bb3;
    padding: 8px;    
    border-radius: 4px;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    color: #fff;
    height: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
}

/* header__search-box CSS */
.header__search-box {
    height: 100%;
    flex: 1;
    padding: 10px 18px;
    overflow: hidden;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__search-box:focus-within {
    border: 2px solid #000;
}

.header__search-input {
    height: 100%;
    flex: 1;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    padding-right: 6px;
}

.header__search-btn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.header__search-btn i {
    font-size: 1.8rem;
}

/* header__actions-list */
.header__actions-list {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0 10px;
}

.header__action-item {
    max-width: 100px;
}

.header__action-link {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header__text {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
    text-align: left;
}

.header__icon {
    font-size: 2rem;
    margin-right: 6px;
    color: #fff;
    display: inline-block;
}

.header__cart-badge {
    position: absolute;
    min-width: 16px;
    min-height: 16px;
    font-size: 1rem;
    text-align: center;
    line-height: 16px;
    top: -6px;
    left: 10px;
    border-radius: 50%;
    color: #000;
    background-color: #fdd835;
    border: 1px solid #fff;
}

/* Header login box CSS */
.header__account-box {
    position: absolute;
    z-index: 2;
    top: 130%;
    right: 0;
    background-color: #fff;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    display: none;
    animation: FadeIn ease-in 0.2s;
}

.header__account-box::before {
    content: "";
    position: absolute;
    top: -30px;
    right: 30px;
    border-style: solid;
    border-width: 20px;
    border-color: transparent transparent #fff transparent;
}

.header__account-box::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: transparent;
    top: -16px;
    right: 20px;
}

.header__login-controls, .header__user-info{
    min-width: 260px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    gap: 10;
    padding-bottom: 20px;
}

.header__login-controls + div > a {
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    color: #000;
}

.header__login-controls + div > a span {
    display: inline-block;
    margin-left: 10px;
}

.header__login-controls + div > a span:hover {
    text-decoration: underline;
}

.header__account-box p {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 16px;
    color: #000;
}

.header__login-controls button {
    min-width: 120px;   
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
}

.header__login-controls button:active {
    transform: scale(0.8);
    transition: all 0.2s ease-in-out;
}

.header__login-btn {
    color: #fff;
    background-color: #000;
    border: none;
    outline: none;
}

.header__signup-btn {
    border-width: 1px;
    background-color: transparent;
}

.header__account-btn:hover .header__account-box {
    display: block;
}

.header__user-info {
    width: 100%;
    display: none;
    border-bottom: none;
    padding: 0;
}

.header__user-info p {
    width: 100%;
}

.header__user-option-list {
    margin-top: 10px;
    width: 100%;
    padding: 0;
}

.header__user-option {
    padding: 8px 4px;
    display: flex;
    align-items: center;
}

.header__user-option:last-child {
    margin-top: 26px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.header__user-option:hover {
    background-color: rgba(0,0,0,0.05);
    transition: all ease-in-out 0.4s;
}

.header__user-option a {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);    
}

.header__user-option i {
    font-size: 2rem;
    color: var(--text-color);
    display: inline-block;
    margin-right: 10px;
    min-width: 20px;
}

/* add class logined to change account button */
.header__account-box.logined .header__login-container {
    display: none;
}

.header__account-box.logined .header__user-info {
    display: block;
}

/* Navigation CSS */
.header__navigation {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-list {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-link {
    height: 100%;
    font-size: 1.3rem;
    font-weight: 600;
    color: #333;
    display: inline-flex;
    padding: 10px 36px;
    align-items: center;
}

.nav-item + .nav-item {
    border-left: 1px solid rgba(0,0,0,0.1);
}

.nav-icon {
    width: 18px;
    height: 20px;
    font-size: 1.8rem;
    margin-right: 10px;
}

.nav-item:hover .nav-link, .nav-item:hover .nav-icon {
    color: var(--primary-color);
    transition: all ease-in 0.2s;
}

/* Footer CSS */
#footer {
    min-height: 300px;    
}

#footer .inner {
    padding: 32px 0;
}

.footer__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#footer h4 {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
    user-select: none;
}

.footer__info-list {
    margin-top: 10px;
}

.footer__info-item {
    width: 100%;
    padding: 8px 0;
}

.footer__info-item span {
    user-select: none;
    display: inline-block;
    margin-right: 16px;
}

.footer__info-item:has(span) {
    display: flex;
    justify-content: space-between;
}

.footer__info-link {
    color: #000;    
}

.footer__info-list:has(span) .footer__info-link {
    color: #4fa4fb;
    font-weight: 600;
}

.footer__info-list:has(span) .footer__info-link:hover {
    text-decoration: none;
}

.footer__info-link:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.footer__info-section h4 > span {
    font-weight: 500;
    font-size: 1.4rem;
}

.footer__payments {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 2px;
    grid-column-gap: 2px;
}

.footer__image {
    width: 80px;
    height: 40px;
    display: inline-block;
    object-fit: contain;
    object-position: center;
}

.footer__contact {
    margin-top: 32px;
    padding-top: 32px;
    border-top: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
}

.footer__socials {
    display: flex;
    align-items: center;    
}

.footer__socials h4 {
    margin-right: 16px;
}

.footer__social-link {
    font-size: 2rem;
    padding: 8px;
    border-radius: 50%;
    background-color: yellow;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.footer__social-link i {
    color: #fff;
}

.footer__social-link + .footer__social-link{
    margin-left: 8px;
}

.footer__social-link:nth-child(1) {
    background-color: #31629f;
}

.footer__social-link:nth-child(2) {
    background-color: #000;
}

.footer__social-link:nth-child(3) {
    background-color: #bc3e2d;
}

.footer__certificate {
    height: 100%;
    width: 140px;
    object-fit: contain;
    object-position: center;
    margin-left: 10px;
}

/* Login form CSS */
.login-form , .signup-form , .forgot-password-form {
    min-width: 450px;
    color: #333;
    display: none;
}

.login-form.active , .signup-form.active, .forgot-password-form.active {
    display: block;
}

.form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.form__header h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    user-select: none;
}

.form__header button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 2.6rem;
    cursor: pointer;
}

.form__header button:hover {
    opacity: 0.7;
    transition: all ease-in 0.2s;
}

.form {
    padding: 20px 0;
}

.form__group {
    display: flex;
    align-items: center;
}

.form__group + .form__group {
    margin-top: 20px;
}

.form__group label{
    font-size: 1.6rem;
    font-weight: 600;
    min-width: 100px;
    user-select: none;
}

.form__input {
    font-size: 1.4rem;
    display: inline-block;
    width: 100%;
    padding: 8px;
    outline: none;
    caret-color: var(--primary-color);
}

.form__input::placeholder {
    font-size: 1.2rem;
}

.form__input:focus {
    border: 1px solid #4399fa;
}

.form__group:has(.form__forgot-password) {
    justify-content: flex-end;
}

.form__forgot-password {
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.form__error-message {
    font-size: 1.2rem;
    display: inline-block;
    margin-top: 4px;
    color: red;
    display: none;
}

.form__error-message.active {
    display: inline-block;
}

.form__login-btn, .form__forgot-password-submit-btn, .form__signup-btn {
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 4px;
}

.form__horizontal-line {
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.form__horizontal-line div {
    width: 100%;
    height: 2px;
    background-color: rgba(0,0,0,0.05);
}

.form__horizontal-line span {
    position: absolute;
    padding: 0 6px;
    left: 50%;
    top: -6px;
    z-index: 2;
    transform: translateX(-50%);
    color: #c3c3c3;
    background-color: #fff;
}

.form__socials {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form__socials button {
    flex: 1;
    padding: 10px 0;
    font-size: 1.6rem;
    color: #fff;
    border-radius: 4px;
}

.form__socials button i {
    font-size: 1.8rem;
    margin-right: 4px;
}

.form__socials button:first-child {
    background-color: #df4a32;
}

.form__socials button:last-child {
    background-color: #3b5998;
}

.form__navigate-question {
    margin-top: 40px;
    text-align: center;
    font-size: 1.4rem;
    color: #000;
    user-select: none;
} 

.signup-navigate-button, .login-navigate-button {
    font-weight: 600;
    color: #4399fa;
    cursor: pointer;
}

.form__group > div {
    flex: 1; 
    width : 100%;
}

/* Responsive  */
@media screen and (max-width : 1170px) {
    .header__wrapper {
        padding: 16px;
    }

    .header__text {
        display: none;
    }

    .header__categories-btn , .header__account-btn {
        background-color: transparent;
        align-items: center;
    }

    .header__cart {
        background-color: #be1529;
        padding: 8px;
        border-radius: 8px;
    }
}

@media screen and (max-width : 992px) {
    .header__navigation {
        display: none;
    }

    .header__actions-list {
        display: none;
    }

    .footer__contact {
        justify-content: flex-start;
    }
}