#sales {
  /* background: rgb(38, 38, 38); */
  padding-bottom: 30px;
}

#sales section {
  display: grid;
}

.header-sales {
  margin-top: var(--header-height);
  background: rgb(237, 248, 255);
  display: flex;
  justify-content: space-evenly;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
}

.header-sales .header-element {
  background: rgb(79, 164, 251);
  width: 20%;
  height: 58%;
  margin: auto;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
}

.header-sales .hot-sale-header {
  background-color: red;
  animation: blink 0.4s infinite;
}

.header-sales a {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title-hot-sales {
  margin-top: calc(var(--header-height) + 60px);
  text-align: center;
}

.title-hot-sales img,
.title-product-sales img {
  width: 30%;
  margin-top: 16px;
}

/* hot-sale */

#hot-sales,
#laptop-sales,
#keyboard-sales,
#mouse-sale {
  width: 85%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
}

#hot-sales img,
#laptop-sales img,
#keyboard-sales img,
#mouse-sale img {
  width: 100%;
}

/* laptop sale */

.title-product-sales {
  text-align: center;
}

.title-product-sales img {
  width: 30%;
}

/* responsive */

/* Mobile và Tablet: width < 1024px*/
@media screen and (max-width: 63.9375em) {
  #hot-sales,
  #laptop-sales,
  #keyboard-sales,
  #mouse-sale {
    width: 85%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Mobile */
@media screen and (max-width: 46.1875em) {
  .header-sales {
    height: 50px;
  }
  .header-sales a {
    font-size: 10px;
    max-height: 50%;
  }
  .title-hot-sales img,
  .title-product-sales img {
    width: 40%;
  }
  .header-sale {
    max-height: 30px;
  }
}

/* Tablet: WWidth >= 740 and width < 1024px */
@media screen and (min-width: 45.25em) and (max-width: 63.9375em) {
}
