<footer id="footer">
    <div class="inner">
       <div class="footer__info">
            <div class="footer__info-section">
                <h4>VỀ GEARUIT</h4>
                <ul class="footer__info-list">
                    <li class="footer__info-item">
                        <a href="#" class="footer__info-link">Giới thiệu</a>
                    </li>
                    <li class="footer__info-item">
                        <a href="#" class="footer__info-link">Tuyển dụng</a>
                    </li>
                </ul>
            </div>
            <div class="footer__info-section">
                <h4>CHÍNH SÁCH</h4>
                <ul class="footer__info-list">
                    <li class="footer__info-item">
                        <a href="#" class="footer__info-link">Chính sách bảo hành</a>
                    </li>
                    <li class="footer__info-item">
                        <a href="#" class="footer__info-link">Chính sách thanh toán</a>
                    </li>
                    <li class="footer__info-item">
                        <a href="#" class="footer__info-link">Chính sách giao hàng</a>
                    </li>
                    <li class="footer__info-item">
                        <a href="#" class="footer__info-link">Chính sách bảo mật</a>
                    </li>
                </ul>
            </div>
            <div class="footer__info-section">
                <h4>THÔNG TIN</h4>
                <ul class="footer__info-list">
                    <li class="footer__info-item">
                        <a href="/pages/show-room" class="footer__info-link">Hệ thống cửa hàng</a>
                    </li>
                    <li class="footer__info-item">
                        <a href="#" class="footer__info-link">Trung tâm bảo hành</a>
                    </li>
                </ul>
            </div>
            <div class="footer__info-section">
                <h4>TỔNG ĐÀI HỖ TRỢ <span>(MIỄN PHÍ GỌI)</span></h4>
                <ul class="footer__info-list">
                    <li class="footer__info-item">
                        <span>Gọi mua:</span>
                        <a href="tel:1800.3107" class="footer__info-link">1800.3107</a> (8:00 - 21:00)
                    </li>
                    <li class="footer__info-item">
                        <span>CSKH:</span>
                        <a href="tel:1800.2610" class="footer__info-link">1800.2610</a> (8:00 - 21:00)
                    </li>
                    <li class="footer__info-item">
                        <span>Email:</span>
                        <a href="mailto:team6IE104@gmail.com" class="footer__info-link">team6IE104@gmail.com</a>
                    </li>                          
                </ul>
            </div>           
            <div class="footer__info-section">
               <div class="footer_info-section--delivery">
                     <h4>ĐƠN VỊ VẬN CHUYỂN</h4>
                     <div class="footer__deliveries footer__info-list">
                        <img src="/assets/images/ship_1.png" alt="Delivery" class="footer__image">
                        <img src="/assets/images/ship_2.png" alt="Delivery" class="footer__image">
                        <img src="/assets/images/ship_3.png" alt="Delivery" class="footer__image">
                        <img src="/assets/images/ship_4.png" alt="Delivery" class="footer__image">
                     </div>
               </div>
               <div class="footer_info-section--payments">
                    <h4>CÁCH THỨC THANH TOÁN</h4>
                    <div class="footer__payments footer__info-list">
                        <img src="/assets/images/pay_1.png" alt="Payment" class="footer__image">
                        <img src="/assets/images/pay_2.png" alt="Payment" class="footer__image">
                        <img src="/assets/images/pay_3.png" alt="Payment" class="footer__image">
                        <img src="/assets/images/pay_4.png" alt="Payment" class="footer__image">
                        <img src="/assets/images/pay_5.png" alt="Payment" class="footer__image">
                        <img src="/assets/images/pay_6.png" alt="Payment" class="footer__image">
                        <img src="/assets/images/pay_7.png" alt="Payment" class="footer__image">
                        <img src="/assets/images/pay_8.png" alt="Payment" class="footer__image">
                    </div>
               </div>
            </div>
       </div>
       <div class="footer__contact">
            <div class="footer__socials">
                <h4>KẾT NỐI VỚI CHÚNG TÔI</h4>
                <div class="footer__social-list">
                    <a href="https://www.facebook.com/gearvnhcm" class="footer__social-link">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="https://www.tiktok.com/@gearvn.store" class="footer__social-link">
                        <i class="fa-brands fa-tiktok"></i>
                    </a>
                    <a href="https://www.youtube.com/c/GEARVNofficial/videos" class="footer__social-link">
                        <i class="fa-brands fa-youtube"></i>
                    </a>                  
                </div>
            </div>
            <div>
                <img src="/assets/images/certificate.png" alt="Certificate" class="footer__certificate">
            </div>
       </div>
    </div>
</footer>

<script src="/javascripts/footer.js"></script>