<nav class="header__navigation">
    <ul class="nav-list">
        <li class="nav-item">
            <a href="/pages/sales" class="nav-link">
                <i class="fa-solid fa-tag nav-icon"></i>
                <span>Khuyến mãi HOT</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fa-solid fa-newspaper nav-icon"></i>
                <span>Tin công nghệ</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="https://www.youtube.com/c/GEARVNofficial/videos" class="nav-link">
                <i class="fa-brands fa-youtube nav-icon"></i>
                <span>Video</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fa-solid fa-credit-card nav-icon"></i>
                <span>Hướng dẫn thanh toán</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fa-solid fa-coins nav-icon"></i>
                <span>Hướng dẫn trả góp</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fa-solid fa-shield nav-icon"></i>
                <span>Chính sách bảo hành</span>
            </a>
        </li>
    </ul>
</nav>