<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GearUIT - Máy tính cao cấp và thiết bị chơi game hàng đầu Việt Nam</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
</head>
<body>
    <div class="app">
        {{> header}}
        <div class="container">
            {{{body}}}
        </div>
        {{> footer}}
    </div>
    <script src="/javascripts/base.js"></script>
</body>
</html>