<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEARUIT - Máy tính cao cấp và thiết bị chơi game hàng đầu Việt Nam</title>
    <link rel="icon" type="image/png" href="/assets/images/logo_gearvn_uit_blue.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/sales.css">
    <link rel="stylesheet" type="text/css" href="/css/cart.css">
    <link rel="stylesheet" type="text/css" href="/css/showroom.css">
</head>
<body>
    <div class="app">
        {{> header}}
        <main class="container">
            {{{body}}}            
            <div class="modal">
                <div class="modal__container">
                    {{!-- Login form --}}
                    <div class="login-form ">
                        <div class="form__header">
                            <h2 class="form__title">Đăng nhập tài khoản</h2>
                            <button class="btn form__close-btn"><i class="fa-solid fa-xmark"></i></button>
                        </div>
                        <form action="/users/login" method="POST" class="form">
                            <div class="form__group">
                                <label for="email">Email:</label>
                                <div>
                                    <input name="email" placeholder="Enter your email" type="email" required class="form__input" spellcheck="false" autocomplete="true"> 
                                    <span class="form__error-message"></span>
                                </div>
                            </div>
                            
                            <div class="form__group">
                                <label for="password">Mật khẩu:</label>
                                <div>
                                    <input name="password" placeholder="Enter your password" type="password" required class="form__input" spellcheck="false" autocomplete="true">
                                    <span class="form__error-message"></span>
                                </div>
                            </div>
                            <div class="form__group">
                                <span class="btn form__forgot-password">Quên mật khẩu ?</span>
                            </div>
                            <button class="btn form__login-btn">ĐĂNG NHẬP</button>
                        </form>

                        <div class="form__horizontal-line">
                            <span>Hoặc đăng nhập bằng</span>
                            <div></div>
                        </div>

                        <div class="form__socials">
                            <button class="btn google">
                                <i class="fa-brands fa-google"></i>
                                <span>Google</span>
                            </button>
                            <button class="btn facebook">
                                <i class="fa-brands fa-facebook"></i>
                                <span>Facebook</span>
                            </button>
                        </div>
                        <div class="form__navigate-question">Bạn chưa có tài khoản? <span class="btn signup-navigate-button">Đăng ký ngay!</span></div>
                    </div>

                    {{!-- Signup form --}}
                    <div class="signup-form">
                        <div class="form__header">
                            <h2 class="form__title">Đăng ký tài khoản</h2>
                            <button class="btn form__close-btn"><i class="fa-solid fa-xmark"></i></button>
                        </div>
                        <form action="/users/register" method="POST" class="form">
                            <div class="form__group">
                                <label for="username" style="min-width: 160px;">Tên đăng nhập:</label>
                                <div>
                                    <input name="username" placeholder="Enter you username" type="text" required class="form__input" spellcheck="false"> 
                                    <span class="form__error-message"></span>
                                </div>
                            </div>

                            <div class="form__group">
                                <label for="email" style="min-width: 160px;">Email:</label>
                                <div >
                                    <input name="email" placeholder="Enter you email" type="email" required class="form__input" spellcheck="false"> 
                                    <span class="form__error-message"></span>
                                </div>
                            </div>
                            
                            <div class="form__group">
                                <label for="password" style="min-width: 160px;">Mật khẩu:</label>
                                <div>
                                    <input name="password" id="password" placeholder="Enter your password" type="password" required class="form__input" spellcheck="false">
                                    <span class="form__error-message"></span>
                                </div>
                            </div>
                        
                            <div class="form__group">
                                <label for="confirmation" style="min-width: 160px;">Xác nhận mật khẩu:</label>
                                <div>
                                    <input placeholder="Enter your confirmation" id="confirmation" type="password" required class="form__input" spellcheck="false">
                                    <span class="form__error-message">Mật khẩu xác nhận không chính xác</span>
                                </div>
                            </div>
                        
                            <button class="btn form__signup-btn">ĐĂNG KÝ</button>
                        </form>

                        <div class="form__horizontal-line">
                            <span>Hoặc đăng ký bằng</span>
                            <div></div>
                        </div>

                        <div class="form__socials">
                            <button class="btn google">
                                <i class="fa-brands fa-google"></i>
                                <span>Google</span>
                            </button>
                            <button class="btn facebook">
                                <i class="fa-brands fa-facebook"></i>
                                <span>Facebook</span>
                            </button>
                        </div>
                        <div class="form__navigate-question">Bạn đã có tài khoản? <span class="btn login-navigate-button">Đăng nhập ngay!</span></div>
                    </div>

                    {{!-- Forgot password form  --}}
                    <div class="forgot-password-form">
                        <div class="form__header">
                            <h2 class="form__title">Quên mật khẩu</h2>
                            <button class="btn form__close-btn"><i class="fa-solid fa-xmark"></i></button>
                        </div>
                        <form action="#" method="POST" class="form">
                            <div class="form__group">
                                <label for="email">Your email:</label>
                                <div>
                                    <input name="username" placeholder="Enter you username" type="email" required class="form__input" spellcheck="false"> 
                                    <span class="form__error-message"></span>
                                </div>
                            </div>

                            <button class="btn form__forgot-password-submit-btn">NHẬN MÃ XÁC THỰC</button>
                        </form>

                        <div class="form__navigate-question">Đã nhớ mật khẩu? <span class="btn login-navigate-button">Đăng nhập ngay!</span></div>
                    </div>
                </div>
            </div>
        </main>
        {{> footer}}
    </div>
    <script src="/javascripts/base.js"></script>
    <script src="/javascripts/home.js"></script>
</body>
</html>